header {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  gap: 36px;
  border-bottom: 1px solid blue;
  margin-bottom: 36px;
}

.favs-list {
  display: flex;
  flex-direction: row;
}

.fav-card {
  display: flex;
  flex-direction: column;
}

