div {
  display: flex;
  column-gap: 12px;
  padding-top: 32px;
}

.mat-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 24px;
}

img {
  text-align: center;
  width: 200px;
  height: auto;
  margin-bottom: 36px;
}
