div {
  display: flex;
  column-gap: 12px;
  padding-top: 32px;
}

.mat-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 24px;
}

img {
  // text-align: center;
  align-self: center;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  // margin-left: 50%;
  // transform: translate(-50%);
}

.mat-card-actions {
margin-top: 16px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  gap: 36px;
  border-bottom: 1px solid blue;
  margin-bottom: 36px;
}
