<header>
  <button (click)="openProfile()" mat-raised-button color="primary">Profile</button>
  <button (click)="logOut()" mat-raised-button color="primary">Log out</button>
</header>

<!-- <mat-toolbar>
    <button (click)="openProfile()" mat-raised-button color="primary">Profile</button>
    <button (click)="openProfile()" mat-raised-button color="primary">Log out</button>
  </mat-toolbar> -->

<div>
  <mat-card *ngFor="let movie of movies; let i = index;">
    <!-- <mat-dialog-content> -->
    <img src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-title>{{movie.Title}}</mat-card-title>
    <mat-card-actions>
      <button mat-button
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
        color="primary">Director</button>
      <button mat-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
        color="primary">Genre</button>
      <button mat-raised-button (click)="openDescriptionDialog(movie.Title, movie.Description)"
        color="primary">Description</button>
      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
    <!-- </mat-dialog-content> -->
  </mat-card>
</div>
